<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <title>{{.Title}}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.jade.min.css"
    />
    <link rel="stylesheet" href="/css/custom.css" />
  </head>
  <body>
    <header>
      <h1>{{.Title}}</h1>
    </header>

    <main>
      <section>
        <h4>Command Line Options</h4>
        {{if .Options}}
        <table>
          <thead>
            <tr>
              <th>Flag</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            {{range $Key, $Value := .Options}}
            <tr>
              <th>{{$Key}}</th>
              <td>{{$Value}}</td>
            </tr>
            {{end}}
          </tbody>
        </table>
        {{else}}
        <p><em>No command line options detected</em></p>
        {{end}}
      </section>

      <section>
        <h2>Viper Configuration</h2>
        {{if .Config}}
        <table>
          <thead>
            <tr>
              <th>Key</th>
              <th>Value</th>
            </tr>
          </thead>
          <tbody>
            {{range $Key, $Value := .Config}}
            <tr>
              <th>{{$Key}}</th>
              <td>{{$Value}}</td>
            </tr>
            {{end}}
          </tbody>
        </table>
        {{else}}
        <p><em>No configuration options detected</em></p>
        {{end}}
      </section>
    </main>

    <footer>
      <small class="timestamp">
        <script>
          document.write(new Date().toISOString());
        </script>
        <br />Local:
        <script>
          document.write(new Date().toLocaleString());
        </script>
      </small>
    </footer>
  </body>
</html>
