<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <title>{{.Title}}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.classless.jade.min.css"
    />
    <link rel="stylesheet" href="/css/custom.css" />
  </head>
  <body>
    <header>
      <h1>{{.Title}}</h1>
    </header>

    <main>
      <section>
        <grid>
          {{range .Links}}
          <article>
            <h4>{{.Title}}</h4>
            <a href="{{.Link}}" role="button" data-tooltip="{{.Description}}"
              >{{.Link}}</a
            >
          </article>
          {{end}}
        </grid>
      </section>
    </main>

    <footer>
      <script>
        document.write(new Date().toISOString());
      </script>
      <br />Local:
      <script>
        document.write(new Date().toLocaleString());
      </script>
    </footer>
  </body>
</html>
