<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <title>Server Status</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/pico.classless.jade.min.css" />
    <link rel="stylesheet" href="/css/custom.css" />
  </head>
  <body>
    <main>
      {{if .}}
      <span class="success">ok</span>
      {{else}}
      <span class="error">not ok</span>
      {{end}}
    </main>
    <footer>
      <script>
        document.write(new Date().toISOString());
      </script>
      <br />Local:
      <script>
        document.write(new Date().toLocaleString());
      </script>
    </footer>
  </body>
</html>
