# This kind cluster mounts using a relative path.
# The directory you launch it from matters.
kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
  - role: control-plane
    extraMounts:
      - hostPath: ./data
        containerPath: /data
  - role: worker
    extraMounts:
      - hostPath: ./data
        containerPath: /data
  - role: worker
    extraMounts:
      - hostPath: ./data
        containerPath: /data
  - role: worker
    extraMounts:
      - hostPath: ./data
        containerPath: /data
